<div class="main-container">
  <h4>Aко имате било какав коментар на садржај сајта, пошаљите нам га преко следеће форме:</h4>
  <br>
  <form>
    <div class="form-group">
      <label for="content">Садржај:</label>
      <textarea myAutofocus name="content" style="resize: none;" id="content" class="form-control" rows="5" [(ngModel)]="content"></textarea>
      <p class="error">{{ error }}</p>
    </div>
    <input type="submit" class="btn btn-primary" value="Контактирај" (click)="onSubmit()">
  </form>
</div>
