<div *ngIf="!isLoaded" class="spin-container">
  <app-spin-loader></app-spin-loader>
</div>

<div *ngIf="isLoaded" class="main-container">
  <h2>{{ news.header }}</h2>
  <div class="date-created">{{ news.dateCreated | date: 'dd.MM.yyyy. HH:mm'}}</div>
  <div [innerHTML]="content" class="content"></div>
  <div class="action-buttons" *ngIf="isLogged">
    <hr>
    <input type="button" value="Измени" class="btn btn-primary" (click)="update()">
    <input type="button" value="Избриши" class="btn btn-danger" (click)="delete()">
  </div>
  <app-my-share-buttons [url]="'https://priceizsokaka.herokuapp.com/news/' + news.id"></app-my-share-buttons>
  <hr>
  <app-comment-list [commentableId]="news.id" [commentType]="'news'"></app-comment-list>
</div>
