.glyphicon {
    font-size: 30px;
    margin: 5px;
}

.main-container {    
    height: 40px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(255, 255, 255, 0.75);
    transition: opacity 0.5s linear;
}


.refresh-animate {
    height: 30%;
    width: auto;
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.range-input {
    width: 20%;
}

.activated {
    opacity: 1;
}

