.glyphicon {
    font-size: 30px;
    margin: 5px;
}

.main-container {   
    border: 1px solid #d0e1e1; 
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: -450px;
    background: rgb(255, 255, 255, 0.75);
    transition: margin-left 0.5s linear;
}

.radio-controls {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
}

.station-name {
    width: 150px;
    margin-left: 10px;
}

.refresh-animate {
    height: 30%;
    width: auto;
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.range-input {
    width: 30%;
}

.activated {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .main-container {   
        border: 1px solid; 
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-left: -90%;
        background: rgb(255, 255, 255, 0.75);
        transition: margin-left 0.5s linear;
    }

    .activated {
        margin-left: 10px;
    }
}