.glyphicon {
    font-size: 30px;
    margin: 5px;
}

.main-container {
    border: 1px solid #d0e1e1;
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: -450px;
    background: rgb(255, 255, 255);
    transition: margin-left 0.4s linear;
}

.radio-controls {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
}

.station-name {
    width: 150px;
    margin-left: 10px;
}

.refresh-animate {
    height: 60%;
    margin-left: 20px;
    margin-right: 5px;
    width: auto;
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.range-input {
    width: 30%;
}

.activated {
    margin-left: 10px;
}

.changing-station {
  height: 20px;
}

@media only screen and (max-width: 600px) {
    .main-container {
        display: none;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:1920px) {
    .main-container {
        display: none;
    }
 }
