<div class="main-container">
  <img class="picture" src="/assets/images/budjanovci_vile.jpg">
  <h3>По која реч о селу...</h3>
  <div class="content">
      <p>Буђановци су насеље у Србији у општини Рума у сремском округу. Према попису из 2011. године било је 1496 становника. </p>
      <p>1999. године је изнад Буђановаца оборен амерички војни авион F-117 Ноћни сокo. </p>
  </div>
  <br>
  <h3>Намена сајта...</h3>
  <div class="content">
    <p>Основни циљ нашег рада није вређање, понижавање, нити исмевање. Цео садржај је усмерен ка неговању здравог хумора. </p>
    <p>Напомињемо да су поједини садржаји неистинити, а изнети су искључиво због остваривања већ наведеног циља. </p>
    <p>У неким текстовима моћи ћете да приметите иронију и сарказам при описивању појединих догађаја или изгледа нашег села. И тада је циљ да се насмејемо, а не да негативно представимо село.</p>
    <p>Имајте у виду да и ми Буђановце волимо бар колико и Ви и да све оно што је лоше желимо да представимо на нешто лепши и духовит начин.</p>
    <p>Уколико се у нашим текстовима баш Ви пронађете, не схватајте ништа лично и схватите то све као једну шалу, јер овде смо да би се шалили. </p>
    <p>Уколико имате неке примедбе, питања, мишљење или предлоге за обраду тема пишите нам, а ми ћемо се трудити да Вам одговоримо у што краћем року.</p>
  </div>
</div>