<div *ngIf="!isLoaded" class="spin-container">
  <app-spin-loader></app-spin-loader>
</div>

<div *ngIf="isLoaded" class="main-container">
  <h3>Хороскоп  <span *ngIf="horoscope.dateCreated">за {{ horoscope.dateCreated | date: 'MM.yyyy.'}}</span></h3>
  <div class="date-created"></div>
  <div *ngIf="isLogged" >
      <a routerLink="/add_horoscope">Додај нов хороскоп</a>
      <hr>
  </div>
  <div *ngIf="!horoscope.content">Нема активних хороскопа.</div>
  <div [innerHTML]="horoscope.content" class="content"></div>
  <div *ngIf="isLogged && horoscope.content">
    <hr>
    <input type="button" value="Измени" class="btn btn-primary" (click)="update()">
    <input type="button" value="Избриши" class="btn btn-danger" (click)="delete()">
  </div>
  <div *ngIf="horoscope.content">
    <hr>
    <app-comment-list [commentableId]="horoscope.id" [commentType]="'horoscope'"></app-comment-list>
  </div>
</div>