<div *ngIf="!isLoaded" class="spin-container">
  <app-spin-loader></app-spin-loader>
</div>

<div *ngIf="isLoaded" class="main-container">
  <h3>Хороскоп  <span *ngIf="horoscope.dateCreated">за {{ horoscope.dateCreated | date: 'dd.MM.yyyy.'}}</span></h3>
  <div class="date-created"></div>
  <div *ngIf="isLogged" >
      <a routerLink="/add_horoscope">Додај нов хороскоп</a>
      <hr>
  </div>
  <div [innerHTML]="horoscope.content" class="content"></div>
  <div *ngIf="isLogged">
    <hr>
    <input type="button" value="Измени хороскоп" class="btn btn-primary" (click)="update()">
    <input type="button" value="Избриши хороскоп" class="btn btn-danger" (click)="delete()">
  </div>
</div>