<div class="news-preview">
  <span>
    <a routerLink="/news/{{ news.id }}"><img class="preview-image" src="{{ news.imageUrl }}"></a>
  </span>
  <span>
    <span><a routerLink="/news/{{ news.id }}"><h3>{{ news.header }}</h3></a></span>
    <div class="short-description">{{ news.content }}</div>
    <div class="date-and-share">
      <span class="date-created">{{ news.dateCreated | date: 'dd.MM.yyyy.'}}</span>
      <app-my-share-buttons class="share-buttons-container" [url]="'https://priceizsokaka.herokuapp.com/news/' + news.id"></app-my-share-buttons>
    </div>
  </span>

</div>
