.news-preview {
    padding: 10px;
}

.short-description {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 100px;
}

.date-created {
    margin-top: 10px;
    color: gray;
}