.news-preview {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.short-description {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.date-created {
    margin-right: 15px;
    color: gray;
}

.date-and-share {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

h3 {
    margin: -3px 0 10px 0;
}

.preview-image {
    width: 200px;
    height: auto;
    margin-right: 30px;
    align-self: flex-start;
}

@media only screen and (max-width: 600px) {
    .preview-image {
        width: 120px;
        height: auto;
        margin-right: 15px;
        align-self: flex-start;
    }

    .date-created {
        margin-top: 10px;
        color: gray;
    }

    .short-description {
        display: none;
    }

    h3 {
        font-size: 20px;
        margin-top: -2px;
    }

    .share-buttons-container {
        margin-top: 10px;
    }

    .date-and-share {
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: left;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:1920px) {
    .preview-image {
        width: 120px;
        height: auto;
        margin-right: 15px;
        align-self: flex-start;
    }

    .date-created {
        margin-top: 10px;
        color: gray;
    }

    .short-description {
        display: none;
    }
    
    h3 {
        font-size: 20px;
        margin-top: -2px;
    }

    .share-buttons-container {
        margin-top: 10px;
    }

    .date-and-share {
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: left;
    }
 }