<div *ngIf="!isLoaded" class="spin-container">
  <app-spin-loader></app-spin-loader>
</div>
<div *ngIf="isLoaded">
  <div *ngIf="isLogged" >
    <a routerLink="/add_news">Додај нову вест</a>
    <hr>
  </div>
  <div *ngFor="let news of allNews | paginate: { id: 'pagination', itemsPerPage: 10, currentPage: pageNumber  }">
    <app-news-preview [news]="news"></app-news-preview>
    <hr>
  </div>
  <pagination-controls *ngIf="allNews.length > 10" id="pagination"
                        (pageChange)="pageChanged($event)"
                        maxSize="10"
                        directionLinks="true"
                        autoHide="false"
                        previousLabel="Претходна"
                        nextLabel="Следећа"
                        screenReaderPaginationLabel="Странице"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="Тренутна страница">
                      </pagination-controls>


</div>
